nav {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #1c1c1c;
  font-size: 20px;
}

.linked {
  width: 50%;
  text-align: center;
  color: white;
}

.linked:nth-child(1) {
  border-right: 1px solid #1c1c1c;
}

#container {
  display: flex;
  width: 120%;
  height: 120%;
  line-height: 30px;
  background: url(../img/2x/background@2x.png) center / cover repeat-y fixed;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.logo {
  width: 400px;
  margin-top: 100px;
}

.info > h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

p {
  font-size: 17px;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.title-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

/* info */
.title {
  font-size: 40px;
  line-height: 40px;
  margin-top: 150px;
  margin-bottom: 50px;
}


.concertName {
  font-size: 25px;
  line-height: 25px;
}

.concertDesc {
  font-size: 20px;
  line-height: 20px;
}

.info {
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.info-head {
  font-size: 20px;
  margin-bottom: 5px;
}

.info-bottom {
  margin-bottom: 30px;
}

.info-bottom-address {
  margin-bottom: 10px;
}

#map {
  width: 500px;
  height: 300px;
  border: 1px solid #1c1c1c;
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 0;
}

.openApp {
  display: inline-block;
  padding: 0 10px;
  background-color: #e9a115;
  /* border: 1px solid #1c1c1c; */
  color: black;
  border-radius: 50px;
  margin-bottom: 30px;
}

.reservation {
  display: inline-block;
  line-height: 35px;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 50px;
  background-color: #e9a115;
  color: #fff;
}

/* lineup */
.lineup-section {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 20px;
  /* background-color: rgba(23, 40, 77, 0.7); */
  color: white;
}

.lineup-img {
  width: 120%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.setlist-section {
  text-align: center;
  color: white;
}

.h1-setlist {
  display: inline-block;
  padding: 5px 15px;
  background-color: #e9a115;
  color: black;
  margin-top: 50px;
}

/* setlist */
.teamName {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.teamName::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #1c1c1c;
  margin: 15px auto;
}

.setlist {
  margin-bottom: 50px;
}

.notice {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 50px;
}

.youtube {
  font-size: 12px;
  color: red;
}

/* Media Quary */
@media (max-width: 280px) {
  #container {
    width: 100%;
    line-height: 23px;
  }

  .main-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }
}
/* Mobile - Portrait */
@media (max-width: 575px) {
  nav {
    bottom: 0;
    height: 50px;
    font-size: 15px;
    border-bottom: none;
    border-top: 1px solid #1c1c1c;
  }

  #container {
    width: 100%;
    line-height: 28px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .info > h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
  }

  span {
    display: block;
  }

  .main-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }

  .title-wrapper {
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px;
  }

  /* info */
  .title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .about {
    gap: 12px;
    width: 100%;
    height: 50px;
    padding: 40px 0;
    margin-bottom: 20px;
  }

  .about-desc {
    width: 300px;
  }

  .about-desc-br {
    display: block;
  }

  .concertName {
    font-size: 19px;
    line-height: 15px;
  }

  .concertDesc {
    font-size: 15px;
    line-height: 13px;
  }

  .info {
    text-align: center;
    margin-bottom: 30px;
  }

  .info-head {
    font-size: 17px;
  }

  .info-bottom {
    margin-bottom: 20px;
  }

  #map {
    width: 250px;
    height: 150px;
  }

  .openApp {
    font-size: 12px;
  }

  .reservation {
    margin-bottom: 40px;
  }

  /* lineup */
  .lineup-section {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .lineup-img {
    width: 100%;
    top: 10%;
  }

  /* setlist */
  .teamName {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .teamName:first-child {
    margin-top: 10px;
  }

  .setlist {
    margin-bottom: 30px;
  }

  .notice {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

/* Mobile - Landscape */
@media (min-width: 576px) and (max-width: 767px) {
  nav {
    bottom: 0;
    height: 50px;
    font-size: 15px;
    border-bottom: none;
    border-top: 1px solid #1c1c1c;
  }

  #container {
    width: 100%;
    height: 100%;
    line-height: 23px;
  }

  .main-wrapper {
    width: 100%;
    height: 100vh;
    margin-bottom: 50px;
  }

  .title {
    margin-top: 50px;
  }

  .title-wrapper {
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px;
  }

  .lineup-section {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  /* .lineup-img {
    width: 50%;
    top: 10%;
  } */

  .notice {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  nav {
    height: 55px;
    font-size: 17px;
    z-index: 1;
  }

  #container {
    width: 100%;
    line-height: 30px;
  }

  .main-wrapper {
    height: 100%;
  }

  /* .lineup-img {
    width: 80%;
    top: 10%;
  } */

  .title {
    margin-top: 100px;
  }

  .lineup-section {
    margin-top: 55px;
  }
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  #container {
    width: 100%;
  }

  .main-wrapper {
    width: 100%;
    height: 100%;
  }
}
